body{
    margin:0;
}
h1{
    /* 置中 */
    position: absolute;
    top:50%;
    left:50%;
    right:auto;
    transform:translate(-50%,-50%);
    font-size: 60pt;
    color:rgb(178, 228, 176);

    z-index: 1;
    padding-bottom: 100px;
}
h2{
    /* 置中 */
    position: absolute;
    top:40%;
    left:50%;
    right:auto;
    transform:translate(-40%,-40%);
    font-size: 50pt;
    color:rgb(228, 184, 176);

    z-index: 1;
    padding-bottom: 100px;
}
.video-back{
    position: fixed;
    top: auto;
    left: auto;
    right:auto;
    min-width:auto;
    min-height:auto ;
}